{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Fale conosco</h1>
        <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="mailto:contato@simplemooc.org">contato@puconline.edu</a></li>
            <li>Twitter: <a href="https://twitter.com/simplemooc">@puconline</a></li>
        </ul>
    </div>
</div>

</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>

</body>
</html>
{% endblock %}